*auto*
__pycache__
.venv
*.sage.py
*local*
data/sha/*
data/congruences/0/*
data/congruences/0_hash/*
data/congruences/1/*
data/congruences/1_hash/*
data/congruences/2/*
data/congruences/2_hash/*
data/congruences/3/*
data/congruences/3_hash/*
data/congruences/4/*
data/congruences/4_hash/*
data/congruences/5/*
data/congruences/5_hash/*
data/congruences/combined/*
*.sh
*/label_to_curve.*